<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <!-- Styles -->
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/footer.css">
  <!-- Title -->
  <title>RockVideo | Log In</title>
  <link rel="shortcut icon" href="../assets/rock-and-roll.png">
</head>
<body>
  <header class="header">
    <a href="../index.html">
      <img class="header__img"  src="../assets/logo-rockvideo.png" alt="Platzi Video">
    </a>
  </header>
  <section class="login">
    <section class="login__container">
      <h2>Log In</h2>
      <form class="login__container--form">
        <input class="input" type="text" placeholder="Email">
        <input class="input" type="password" placeholder="Password">
        <button class="button">Log in</button>
        <div class="login__container--remember-me">
          <label>
            <input type="checkbox" id="cbox1" value="first_checkbox">Remember me
          </label>
          <a href="">Forgot your password?</a>
        </div>
      </form>
      <section class="login__container--social-media">
        <div style=" padding-bottom: 2px; ">
            <img src="../assets/icon-facebook.png" alt="Facebook" width="25" style=" padding-left: 2px; padding-right: 3px;">
            <label>Continue with Facebook</label>
        </div> 
        <div>
            <img src="../assets/icon-google.png" alt="Google" width="30">
            <label>Continue with Google</label>
        </div>  
        <div>
            <img src="../assets/icon-twitter.png" alt="Twitter" width="30">
            <label>Continue with Twitter</label>
        </div>  
      </section>
      <p class="login__container--register">Don't have an account? <a href="../templates/registro.html">Sign up here</a></p>
    </section>
  </section>
  <footer class="footer">
    <a href="../index.html">About Us</a>
    <a href="../index.html">Terms and Conditions</a>
    <a href="../index.html">Help Center</a>
  </footer>
</body>
</html>